body
{
	background-color: 	lightblue;
}

h1 
{
    text-align: center;
}

h5
{
	margin: 0px;
}

.outer
{
	margin: 20px;
}

.password-line
{
	margin: 10px;
}

.contents
{
	margin: 5px;
	max-width:	40em;
}

.vote
{
	margin: 5px;
	width: 5em;
}

.order
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.entry
{
	padding-top: 40px;
}

.submitter
{
	margin-bottom: 7px;
}

.label
{
	display: inline-block;
	width: 6em;
}

.flat-button
{
	display: inline-block;
	background-color: blue;
	padding: 2px;
	margin: 2px;
	text-align: center;
}

.normal
{
	width: 4em;
}

.wide
{
	width: 8em;
}

.wider
{
	width: 12em;
}

.thin
{
	width: 1.5em;
}

.flat-enabled
{
	color: white;
}

.flat-disabled
{
	color: grey;
}

.group
{
	display: inline-block;
}

.column
{
	vertical-align: top;
}