[Unit]
Description=Demo instance of voting
After=nginx.service postgresql.service
Wants=nginx.service postgresql.service

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/jrootham/voting/servers/demo
ExecStart=/usr/bin/java -jar voting-server.jar 4001

[Install]
WantedBy=multi-user.target
