[Unit]
Description=Local instance of voting
After=nginx.service postgresql.service
Want=nginx.service postgresql.service

[Service]
Type=simple
Restart=always
RestartSec=10
WorkingDirectory=/home/jrootham/dev/cabal/cabalVoting/voting-server/local/
ExecStart=/usr/bin/java -jar voting-server.jar 4012

[Install]
WantedBy=multi-user.target
