body
{
	background-color: 	lightblue;
}

h1 
{
    text-align: center;
}

.outer
{
	margin: 20px;
}

.password-line
{
	margin: 10px;
}

.contents
{
	margin: 5px;
}

.vote
{
	margin: 5px;
	width: 6em;
}

.order
{
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.entry
{
	margin-top: 20px;
}